@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}
body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

.menu-item {
  
  box-sizing: border-box;
  @apply p-2 m-1 rounded hover:bg-neutral-500/20;

}